#imputation_config{
    z-index: 999;
    background: none;
    padding: 10px;
    transition: background 0.2s ease-in-out, display 0.2s ease-in-out;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: black;
    display: flex;
}

#div_imputation_container{
    display:none;
    gap: 10px;
    flex-direction: column;
}

.title{
    margin: 0;
    padding: 10px;
    font-size: large;
}

.block-config{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    justify-content: space-between;
    column-gap: 20px;
}
#button_config.block-config{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
#imputation_inputs{
    border: 1px solid black;
    border-radius: 10px
}
.form-tabs {
    display: flex;
    border
}
.tab {
    flex: 1;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    color: #000;
    background: white;
    font-size: 14px;
    transition: all 0.3s ease;
}
.tab.active {
    background: #C66;
    color: black;
    font-weight: 500;
}
.form-section {
    display: none;
    width: 510px;
}

.form-section.active {
    display: block;
    padding: 10px;
    border-top: 0;
}
.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-primary {
  color: var(--bs-btn-color, #fff);
  background-color: var(--bs-btn-bg, #007bff);
  border-color: var(--bs-btn-border-color, #007bff);
}

.btn-primary:hover {
  color: var(--bs-btn-hover-color, #fff);
  background-color: var(--bs-btn-hover-bg, #0069d9);
  border-color: var(--bs-btn-hover-border-color, #0062cc);
}

.btn-primary:focus {
  color: var(--bs-btn-hover-color, #fff);
  background-color: var(--bs-btn-hover-bg, #0069d9);
  border-color: var(--bs-btn-hover-border-color, #0062cc);
  box-shadow: var(--bs-btn-focus-shadow, 0 0 0 0.2rem rgba(0, 123, 255, 0.25));
}

.btn-primary:active,
.btn-primary.active {
  color: var(--bs-btn-active-color, #fff);
  background-color: var(--bs-btn-active-bg, #0062cc);
  border-color: var(--bs-btn-active-border-color, #005cbf);
  box-shadow: var(--bs-btn-active-shadow, inset 0 3px 5px rgba(0, 0, 0, 0.125));
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: var(--bs-btn-disabled-color, #fff);
  background-color: var(--bs-btn-disabled-bg, #007bff);
  border-color: var(--bs-btn-disabled-border-color, #007bff);
  opacity: 0.65;
  pointer-events: none;
}

#imputation_config input,
#imputation_config textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
.save{
    background: green;
}
#imputation_config input:focus,
#imputation_config textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,0.25);
}
#imputation_config input::placeholder{
  color: #000;
  opacity: 0.5;
}
#imputation_config label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
#display_imputation_buttom{
    padding: 0px;
    display: flex;
}
#imputation_icon{
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#project-task-tab-tab{
        border-top-left-radius: 10px;
}
#config-tab{
        border-top-right-radius: 10px;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.btn-success:active, .btn-success.active {
  background-color: #1e7e34;
  border-color: #1c7430;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.btn-danger:active, .btn-danger.active {
  background-color: #bd2130;
  border-color: #b21f2d;
}
.btn-warning {
  color: #212529 !important;
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

.btn-warning:active, .btn-warning.active {
  background-color: #d39e00;
  border-color: #c69500;
}
